.Header{
height: 80px;
background:lightblue;
padding: 10px;
text-align: center;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
  background: lightblue; 
}

.body-style{
display: black;
background-color:white;
width: 1000px;
font-family: Arial, Helvetica, sans-serif;
float: right
}

.links {
padding: 25px 0;
background-color:grey;
}

.links li {
padding: 25px;
display: inline;
font-weight: 800;
}

.footer {
  clear: center;
  padding: 10px;
  background: grey;
  color: white;
  text-align: right;
  width: 1850px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
}

.imgContainer {
  width: 200px;
}

.project-photo {
  width: 200px;
  float: right;
  }

 

.para {
  width: 500px;
  
}

.my-photo {
  float: right;
  width: 400px;
}

.my-photo1 {
  width: 200px;
  float: left;
  padding: 0px, 
}

.my-photo2 {
  width: 200px;
  float: left;
}

.body-2 {
  margin: 0;
  padding: 0;
  background: url(bg.jfif);
  background-size: cover;
}

.contact-form {
  margin: 0;
  width: 600px;
  border: 1px solid grey;
  border-radius: 1.5em;
  background-color: lightblue;
  left: 35%;
  right: 35%;
  position: absolute;
}

label {
  text-align: left;
}

input, textarea {
  width: 400px;
  box-sizing: border-box;
}

textarea {
  vertical-align: top;
  height: 5em;
}

form {
  color: black;
  float: center;
  margin: 20px;
}

.send-button {
  padding-top: 10px;
  padding-bottom: 20px;
}
